{% extends "layout.html" %}
{% block body %}
  <h2>Two-Factor Authentication Secret</h2>
  <p></p>
  <h3>{{ user }}</h3>
  <p>This is your two-factor authentication secret. To use, <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">please download the Google Authenticator app from the Google Play Store on your Android device.</a> Once the app is downloaded, either scan the QR code with the app or manually enter the secret displayed below.</p>
  <p>Do not lose this secret key or share it with anyone! This key will allow our service to verify that it's really you.</p>
  
  <h3>QR Code</h3>
  <img src="{{ imgpath }}">
  <h3>Secret</h3>
  <p>{{ secret }}</p>
{% endblock %}
